<!-- Start your project here-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Google4Git</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Settings</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>


<!--/.Navbar-->
<app-search-form></app-search-form>

<div class="container">
  <div class="well">


    </div>

  </div>

  <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
                <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
                <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
                <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
                <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <div class="m-x-auto"  *ngIf="githubUser.user == false && (githubUser.userName && githubUser.userName.length > 0)">

    <div class="starter-template text-xs-center">
        <h5>User Profile not found.</h5>
        <p class="lead">Please enter a different <b>username</b>.</p>
    </div>

</div>

<div class="m-x-auto"  *ngIf="(githubUser.userName.length == 0)">

    <div class="starter-template text-xs-center">
        <h5>Search any user</h5>
        <p class="lead">Please enter a <b>username</b>.</p>
    </div>

</div>


<div class="row">

    <div class="col-md-5">
        <div *ngIf="githubUser && githubUser.user && (githubUser.userName && githubUser.userName.length > 0)">

            <div class="card">
                <h4 class="card-header">{{githubUser.user.name}}</h4>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-4 m-b-1">
                            <img src="{{githubUser.user.avatar_url}}" class="profile-img img-thumbnail m-b-1" />
                            <a class="btn btn-sm btn-outline-primary btn-block m-t-1" href="{{githubUser.user.html_url}}" target="_blank">View Profile</a>
                        </div>

                        <div class="col-xl-8">


                            <ul class="list-group">
                                <li class="list-group-item"><b>Username: </b> {{githubUser.user.login}}</li>
                                <li class="list-group-item"><b>Location: </b> {{githubUser.user.location}}</li>
                                <li class="list-group-item"><b>E-Mail: </b> {{githubUser.user.email}}</li>
                                <li class="list-group-item"><b>Blog Link: </b> {{githubUser.user.blog}}</li>
                                <li class="list-group-item"><b>Member Since: </b> {{githubUser.user.created_at}}</li>
                            </ul>

                        </div>
                    </div>

                    <div class="status m-t-1">

                        <span class="p-a-05 bg-info text-xs-center"> {{githubUser.user.public_repos}} Public Repos </span>
                        <span class="p-a-05 bg-primary m-t-1 text-xs-center"> {{githubUser.user.public_gists}} Public Gists </span>
                        <span class="p-a-05 bg-danger m-t-1 text-xs-center"> {{githubUser.user.followers}} Followers </span>
                        <span class="p-a-05 bg-inverse m-t-1 text-xs-center"> {{githubUser.user.following}} Followings </span>


                    </div>

                </div>
            </div>



        </div>

    </div>
    <div class="col-md-7">

        <div *ngIf="userSearch && userSearch.user && (userSearch.userName && userSearch.userName.length > 0)">
            <div class="card">
                <h5 class="card-header">Repos</h5>
                <div class="card-block">

                    <div class="list-group">

                        <a *ngFor="let repo of userSearch.repos" href="{{repo.html_url}}" target="_blank" class="list-group-item list-group-item-action">
                            <span class="tag tag-info pull-xs-right">{{repo.watchers}} Watchers</span>
                            <span class="tag tag-success pull-xs-right m-r-05">{{repo.forks}} Forks</span>
                            <h6 class="list-group-item-heading">{{repo.name}}</h6>
                            <p class="list-group-item-text">{{repo.description}}</p>
                        </a>


                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->git
